<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Catalogo</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <nav class="navbar sticky-top navbar-light bg-light">
      <a class="navbar-brand">
        <img src="https://picsum.photos/35/35" width="35" height="35" />
      </a>

      <form class="form-inline nav-pills">
        <a class="nav-link" href="./home.html">Home</a>

        <a class="nav-link active" href="#">Catalogo</a>
      </form>
    </nav>

    <nav style="margin: 2% 0% 2% 0%; text-align: center">
      <form class="form-inline nav-pills justify-content-center">
        <a class="nav-link active" href="#">Todos</a>

        <a class="nav-link" href="#">Meninas</a>

        <a class="nav-link" href="#">Meninos</a>
      </form>
    </nav>

    <div class="conteiner">
      <div class="row justify-content-center">
        <div class="col-md-3">
          <div class="card shadow" style="width: 18rem; margin: 3% 3% 3% 3%">
            <div class="inner">
              <img
                class="card-img-top"
                src="https://picsum.photos/400/250"
                alt="card image cap"
              />
            </div>

            <div class="card-body text-center">
              <p class="card-text">Tema</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 18rem; margin: 3% 3% 3% 3%">
            <div class="inner">
              <img
                src="https://picsum.photos/400/250"
                class="card-img-top"
                alt="card image cap"
              />
            </div>
            <div class="card-body text-center">
              <p class="card-text">Tema</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card shadow" style="width: 18rem; margin: 3% 3% 3% 3%">
            <div class="inner">
              <img
                src="https://picsum.photos/400/250"
                class="card-img-top"
                alt="card image cap"
              />
            </div>
            <div class="card-body text-center">
              <p class="card-text">Tema</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card shadow" style="width: 18rem; margin: 3% 3% 3% 3%">
            <div class="inner">
              <img
                src="https://picsum.photos/400/250"
                class="card-img-top"
                alt="card image cap"
              />
            </div>
            <div class="card-body text-center">
              <p class="card-text">Tema</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card shadow" style="width: 18rem; margin: 3% 3% 3% 3%">
            <div class="inner">
              <img
                class="card-img-top"
                src="https://picsum.photos/400/250"
                alt="card image cap"
              />
            </div>

            <div class="card-body text-center">
              <p class="card-text">Tema</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow" style="width: 18rem; margin: 3% 3% 3% 3%">
            <div class="inner">
              <img
                src="https://picsum.photos/400/250"
                class="card-img-top"
                alt="card image cap"
              />
            </div>
            <div class="card-body text-center">
              <p class="card-text">Tema</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card shadow" style="width: 18rem; margin: 3% 3% 3% 3%">
            <div class="inner">
              <img
                src="https://picsum.photos/400/250"
                class="card-img-top"
                alt="card image cap"
              />
            </div>
            <div class="card-body text-center">
              <p class="card-text">Tema</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card shadow" style="width: 18rem; margin: 3% 3% 3% 3%">
            <div class="inner">
              <img
                src="https://picsum.photos/400/250"
                class="card-img-top"
                alt="card image cap"
              />
            </div>
            <div class="card-body text-center">
              <p class="card-text">Tema</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row mb-3" style="margin: 0% 5% 5% 5%">
        <div class="col-sm-3">
            <div class="card" style="margin-top: 8%">
                <img src="https://picsum.photos/400/250" width="100%" height="100%">
                    <div class="card-body">
                    <p>
                        Tema
                    </p>
                    </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="margin-top: 8%">
                <img src="https://picsum.photos/400/250" width="100%" height="100%">
                <div class="card-body">
                    <p>
                        Tema
                    </p>
                    </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="margin-top: 8%">
                <img src="https://picsum.photos/400/250" width="100%" height="100%">
                    <div class="card-body">
                    <p>
                        Tema
                    </p>
                    </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="margin-top: 8%">
                <img src="https://picsum.photos/400/250" width="100%" height="100%">
                    <div class="card-body">
                    <p>
                        Tema
                    </p>
                    </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="margin-top: 8%">
                <img src="https://picsum.photos/400/250" width="100%" height="100%">
                    <div class="card-body">
                    <p>
                        Tema
                    </p>
                    </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="margin-top: 8%">
                <img src="https://picsum.photos/400/250" width="100%" height="100%">
                    <div class="card-body">
                    <p>
                        Tema
                    </p>
                    </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="margin-top: 8%">
                <img src="https://picsum.photos/400/250" width="100%" height="100%">
                    <div class="card-body">
                    <p>
                        Tema
                    </p>
                    </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="margin-top: 8%">
                <img src="https://picsum.photos/400/250" width="100%" height="100%">
                    <div class="card-body">
                    <p>
                        Tema
                    </p>
                    </div>
            </div>
            </div>
    </div>   -->
  </body>
</html>
